body,nav

{
    margin: 0;
}
nav{
margin: 0px;
padding: 0px;
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
background-color: rgb(250, 228, 196);

}
img{
   margin-left: 27px;
   margin-top: 20px;
    
}
ul{
    display: flex;
    list-style: none;
    gap: 15px;
    font-size: 35px;
    justify-content: end;
   position: sticky;
   margin-right: 27px;
   float: right;
 
   
}
hr{
    margin: 0;
    border: 3px solid black;
}